
.cell {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  box-sizing: border-box;
}

.alive {
  background-color: green;
}

.boundary {
  width: 1000px;
  background-color: black;
}

* {
  margin-bottom: -5px;
}