
.cell {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  box-sizing: border-box;
}

.alive {
  background-color: green;
}

.boundary {
  width: 1000px;
  background-color: black;
}

* {
  margin-bottom: -5px;
}

button {
  margin-top: 20px;
  display: block;
  position: relative;
  background-color: black;
  color: white;
  height: 70px;
  width: 250px;
  font-size: 3em;
  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  text-align: center;
}

.boundary {
  margin: 0 auto;
}